* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100%;
    overflow-x: hidden;
}
.wallpaper {
    padding-top: 25rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, .8)), to(rgba(92, 77, 66, .8))), url(../img/products.jpg);
    background: linear-gradient(to bottom, rgba(131, 115, 115, 0.37) 0, rgba(92, 77, 66, .8) 100%), url(../img/products.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.tips {
    padding-top: 10rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(0, 0, 0))), url(../img/moutain-2.jpg);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.37) 0, rgb(0, 0, 0) 100%), url(../img/moutain-2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.text-orange{
    color: #d16c00;
}

.wallpapersss {
    width: 100%;
    height: 100%;
    background-color: rgba(255,125,0,.6);
    filter: brightness(50%);
}

.btn-outline-danger {
    background-color: white;
}

.btn-outline-warning{
    color: rgba(255,125,0,.6);
    border:2px solid rgba(255,125,0,.6);
}

.btn-outline-warning:hover{
    color: white;
    border:2px solid rgba(255,125,0,.6);
    background-color: rgba(255,125,0,.6);
}

.transparent-input {
    border:2px solid rgba(255,125,0,.6);
    background: transparent;

    /* background: transparent;
    position: relative;
    border:2px solid rgba(255,125,0,.6);
    display: block;
    outline: none;
    -webkit-box-shadow: 0 2px 10px 1px rgba(255,125,0,.6);
    box-shadow: 0 2px 10px 1px rgba(255,125,0,.6); */
}

.transparent-input:focus{
    background: transparent;
    border-color: #d16c00;
    border: 2px solid #d16c00;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
    


.transparent-input::placeholder{
    color: rgba(255,125,0,.6);
    opacity: 1;
    background: transparent;
}

@media (min-width:320px) {
    .logo {
        width: 300px;
    }
    .align-cart-btn{
        margin-left: 1.5rem!important;
    }
}

@media(min-width:375px){
    .align-cart-btn{
        margin-left: 3rem!important;
    }
}

@media (min-width:425px) {
    .logo {
        width: 350px;
    }
    .align-cart-btn{
        margin-left: 5rem!important;
    }
}

@media (min-width:768px) {
    .logo {
        width: 450px;
    }
    .align-cart-btn{
        margin-left: 14rem!important;
    }
}

@media(min-width:1024px){
    .align-cart-btn{
        margin-left: -1rem!important;
    }
}

@media(min-width:1280px){
    .align-cart-btn{
        margin-left: 0.3rem!important;
    }
}

@media(min-width:1440px){
    .align-cart-btn{
        margin-left: 0.5rem!important;
    }
}

@media(min-width:1600px){
    .align-btn{
        margin-top: 1.8rem!important;
    }
}




